
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;
    
}


body{
    background:white;
     margin: 0;
    padding: 0;
    touch-action: pan-y; 

}
html{
      touch-action: manipulation;
}
#main{
    width: 100%;
    min-height: 100vh;
    background:white;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.main-box{
    
    width: 75%;
    min-height: 80vh;
    /* background: linear-gradient(to right bottom, rgba(255,255,255,0.5),rgba(255,255,255,0.1)); */
    border-radius: 1rem;
    background:  rgba(255,255,255,0.5);
    z-index: 4;
    backdrop-filter: blur(2rem);
    /* position: relative; */
   
}

/* circles */

.circle-1, .circle-2{
    background: white;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    position: absolute;
     background: linear-gradient(to right bottom,rgba(255, 165, 0, 0.7), rgba(255, 165, 0, 0.5));

     z-index: 2;


}
.circle-1{
    top: 4%;
    right: 2%;

}
.circle-2{
    bottom: 4%;
    left: 2%;
    
}
.main-box nav{
    padding: 50px;
    
    
}
.main-box nav ul{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.main-box nav ul a{
    color:rgb(94, 64, 4);
    font-weight: bold;
      transition: .4s ease;

}
.main-box nav ul a:hover{
    /* border-bottom: 2px solid black; */
    
        transform:translateY(-4px);
   transition: .4s ease;
    color:#e65c00;

}

#user-btn{
    transition: .4s ease;
}
#user-btn:hover{
    /* border-bottom: 2px solid orange; */
    transform:translateY(-4px);
   transition: .4s ease;
    cursor:pointer;
    color:blueviolet;
}
#search-btn{
    transition: .4s ease;
}
#search-btn:hover{
    color:rgb(134, 14, 246);
    cursor: pointer;
      transform:translateY(-4px);
   transition: .4s ease;
}


.main-box nav ul li #logo{
    color:rgb(5, 37, 5);
}

.main-box nav ul li #logo:hover{
    border-bottom: none;
}
.logo{
    font-size: 1.5rem;
    font-weight: 800;
    
    
}
.logo span{
    color:red;
}
.fa-solid{
    color:#000000;
    font-size: 1.6rem;
    padding: 6px 6px;
    border-radius: 0.5rem;
    /* background:#000000; */
    cursor: pointer;
    transition:0.3s;


}


.main-content{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.main-text{
    max-width:500px;
}
.main-text h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.main-text h1 span{
    color:rgb(93, 62, 5);
}
.main-content h2{
    font-size: 2rem;
    font-weight: 200;
}
.main-content h2 span{
    color:rgb(93, 62, 5);

}
.main-text p{
    font-size: 1.2rem;
    margin: 20px 0 40px;
    font-weight: 100;
    color:rgb(2, 18, 2);
}
.btn1, .btn2{
    display:inline-block;
    transition:0.3s;
    padding: 10px 20px;
    background: red;
    color:white;
    font-weight: 300;
    border-radius: 2rem;
    cursor: pointer;
}
.btn1:hover{
transform:translateY(-4px);
box-shadow:0 10px 20px rgba(0,0,0,0.3);

}


.btn2{
    background: white;
    margin-left: 1rem;
    color:black;
        transition: 0.5s ease;
        border:1px solid red;
}

.btn2:hover{
    background: red;
    color:white;
    transition: 0.5s ease;
}


.main-text::after{
    content: '';
    width: 5px;
    height: 20%;
    background:red;
    top: 11.1rem;
    position: absolute;
    left: 2.4rem;
   
}
.main-img{
    width: 350px;
    height: 350px;

}
.main-img img{
    width: 80%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    animation:float 4s ease-in-out infinite;


    
}
/* floating animation */

@keyframes float{
0%{transform:translateY(0px) rotate(0deg);}
50%{transform:translateY(-20px) rotate(2deg);}
100%{transform:translateY(0px) rotate(0deg);}
}


/* Menu Container */
.menu-container{
   
    padding: 20px;
    margin: 0 auto;
    max-width:950px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.336);
      
        

}

.menu-container h1{
    font-size: 3rem;
    margin-bottom: 30px;
    color:rgb(8, 67, 8);
    margin-left: 20rem;
}

.menu-container h1 span{
    color:#ff7800;

}

.menu-section{
    display: flex;
    align-items:center;
     justify-content: space-between;
     padding:0 20px;
     flex-wrap: wrap;
}
.menu-item{
    width: 45%;
    height: 200px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    transition:0.3s;

}
.menu-item img{
    width: 38%;
    height: 155px;
    border-radius:100% ;
    object-fit:cover ;
    transition:0.4s;

}
.footer-box #phone{
    font-size: 14px;
}
.menu-item:hover img{
transform:rotate(10deg) scale(1.1);
}
.menu-item h3{
    font-size: 20px;
    margin: 10px 0 5px;
    color:orange;
    cursor: pointer;

}
.menu-item  span{
    color:rgb(68, 93, 235);
    font-weight: 600;
    

}
.menu-item  p{
    font-weight: 545;
    color:rgb(8, 67, 8);
}


/* Responsive */

@media only screen and (max-width: 640px){
   h1{
    font-size: 3rem; 

}
.menu-item{
    flex-direction: column;
    margin-bottom: 30px;
}
.menu-item img{
    width: 50%;
    height: auto;
}
.dessert-beverage{
    flex-direction: column;


}
.dessert-beverage div{
    width: 100%;

}
}


/* DESSERT & BEVERAGE */

.dessert-beverage{
display:grid;
grid-template-columns:1fr 1fr;
gap:40px;
margin-top:60px;
}

/* card */

.beverage,.dessert{
background:rgba(255,255,255,0.1);
backdrop-filter:blur(15px);
padding:25px;
border-radius:15px;
border:1px solid rgba(255,255,255,0.2);
transition:.4s;
}

.beverage:hover,
.dessert:hover{
transform:translateY(-10px);
box-shadow:0 20px 40px rgba(0,0,0,0.4);
}

/* title */

.dessert-beverage h4{
font-size:24px;
margin-bottom:15px;
border-left:5px solid #ffd000;
padding-left:10px;
color:orange;
}

/* list */

.dessert-beverage ul{
list-style:none;
}

/* item */

.dessert-beverage li{
display:flex;
justify-content:space-between;
align-items:center;
padding:10px;
border-bottom:1px solid rgba(255,255,255,0.15);
color:white;
transition:.3s;
border-radius:8px;
cursor:pointer;
}

/* item info */

.item-info{
display:flex;
align-items:center;
gap:12px;
}

/* circle image */

.item-info img{
width:38px;
height:38px;
border-radius:50%;
object-fit:cover;
border:2px solid #ffd000;
transition:.4s;
}

/* hover animation */

.dessert-beverage li:hover{
background:rgba(255,255,255,0.15);
transform:translateX(8px);
box-shadow:0 10px 20px rgba(0,0,0,0.3);
}

.dessert-beverage li:hover img{
transform:rotate(20deg) scale(1.2);
box-shadow:0 5px 15px rgba(0,0,0,0.4);
}

/* price */

.dessert-beverage li span:last-child{
  color:rgb(57, 58, 57);

font-weight:600;
transition:.3s;
}

.dessert-beverage li:hover span:last-child{
transform:scale(1.2);
color:rgb(9, 51, 9);
}

/* responsive */

@media(max-width:700px){

.dessert-beverage{
grid-template-columns:1fr;
}

}


/* ABOUT SECTION */

.about-section{
width:90%;
max-width:1200px;
margin:120px auto;
}

.about-container{
display:flex;
align-items:center;
justify-content:space-between;
gap:50px;
flex-wrap:wrap;
}

/* IMAGE */

.about-img img{
width:420px;
animation:floatFood 4s ease-in-out infinite;
filter:drop-shadow(0 20px 40px rgba(0,0,0,0.4));
}

/* FLOAT ANIMATION */

@keyframes floatFood{

0%{transform:translateY(0px) rotate(0deg);}
50%{transform:translateY(-20px) rotate(2deg);}
100%{transform:translateY(0px) rotate(0deg);}

}

/* TEXT */

.about-text{
max-width:500px;
}

.about-text h2{
font-size:42px;
color:rgb(8, 67, 8);
margin-bottom:15px;
}

.about-text span{
color:#ff7800;
}

.about-text p{
margin-bottom:15px;
line-height:1.6;
   font-weight: 545;
    color:rgb(22, 22, 22);
}

/* BUTTON */

.about-btn{
display:inline-block;
margin-top:10px;
padding:12px 28px;
background:#ff7800;
color:white;
border-radius:30px;
text-decoration:none;
font-weight:500;
transition:.3s;
}

.about-btn:hover{
transform:translateY(-5px);
box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

/* RESPONSIVE */

@media(max-width:900px){

.about-container{
flex-direction:column;
text-align:center;
}

.about-img img{
width:300px;
}

}

/* RESERVATION SECTION */

.reservation-section{
width:90%;
max-width:1100px;
margin:120px auto;
text-align:center;
}

.reservation-section h2{
    color:rgb(8, 67, 8);
    margin-bottom: 1rem;
}
.reservation-section span{
    color:#ff7800;
}
/* container */

.reservation-container{
display:flex;
justify-content:center;
}

/* form */

.reservation-form{
width:100%;
max-width:600px;
background:rgba(255,255,255,0.1);
backdrop-filter:blur(20px);
padding:40px;
border-radius:20px;
border:1px solid rgba(255,255,255,0.2);
box-shadow:0 20px 40px rgba(0,0,0,0.3);
}

/* input group */

.input-group{
margin-bottom:20px;
}

/* inputs */

.input-group input,
.input-group textarea{

width:100%;
padding:12px 15px;
border:none;
border-radius:10px;
outline:none;
background:transparent;
color:black;
font-size:14px;
transition:.3s;
}

/* textarea */

textarea{
resize:none;
height:100px;
}

/* hover focus */

.input-group input:focus,
.input-group textarea:focus{
background:rgba(255,255,255,0.25);
transform:scale(1.02);
box-shadow:0 10px 20px rgba(0,0,0,0.3);
}

/* button */

.reserve-btn{
margin-top:10px;
padding:12px 30px;
border:none;
border-radius:30px;
background:#ff7800;
color:white;
font-weight:600;
cursor:pointer;
transition:.3s;
}

/* hover */

.reserve-btn:hover{
transform:translateY(-5px);
box-shadow:0 10px 25px rgba(0,0,0,0.4);
}
.reservation-section h2{
    color:rgb(8, 67, 8);

} 
/* REVIEW SECTION */

.review-section{
width:90%;
max-width:1200px;
margin:120px auto;
text-align:center;
}

/* grid */

.review-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:40px;
}

/* card */

.review-card{
background:rgba(255,255,255,0.1);
backdrop-filter:blur(20px);
padding:30px;
border-radius:20px;
border:1px solid rgba(255,255,255,0.2);
transition:.4s;
cursor:pointer;
}
.review-section h2{
    color:rgb(8, 67, 8);
}
.review-section span{
    color:#ff7800;
}



/* hover 3d */

.review-card:hover{
transform:translateY(-10px);
box-shadow:0 15px 30px rgba(0,0,0,0.15);

}

.review-card:hover img{
    transform: scale(1.08);
    border: 1.5px solid #f5b400;
    
}

/* image */

.review-card img{
width:80px;
height:80px;
border-radius:50%;
object-fit:cover;
border:1px solid rgb(151, 149, 149);
margin-bottom:15px;
    transition: 0.3s;

}
.review-card img:hover{
    transition: 0.3s;


}

/* name */

.review-card h3{
color:black;
margin-bottom:8px;
}

/* stars */

.stars{
color:#ff7800;
margin-bottom:10px;
}

/* text */

.review-card p{
color:rgb(2, 34, 2);
font-size:14px;
line-height:1.5;
}





/* item */

.gallery-item{
overflow:hidden;
border-radius:20px;
cursor:pointer;
position:relative;
}

/* image */

.gallery-item img{
width:100%;
height:250px;
object-fit:cover;
transition:.4s;
border-radius:20px;
}

/* hover effect */

.gallery-item:hover img{
transform:scale(1.15) rotate(2deg);
filter:brightness(1.1);
}

/* glow */

.gallery-item:hover{
box-shadow:0 20px 40px rgba(0,0,0,0.4);
transform:translateY(-10px);
}

/* FOOTER */

.footer{
margin-top:120px;
background:rgba(255,255,255,0.08);
backdrop-filter:blur(20px);
border-top:1px solid rgba(255,255,255,0.2);
padding-top:60px;
display: flex;
justify-content: space-between;
align-items: center;
margin-left: 3rem;
}

/* container */

.footer-container{

width:90%;
max-width:1200px;
margin:auto;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:40px;
}

/* logo */

.footer-logo{
color:black;
font-size:28px;
margin-bottom:10px;
}

.footer-box p{
color:#666666;
font-size:14px;
line-height:1.6;
}


/* Footer Offer Box */

.footer-offer{
    margin-top: 20px;
    padding: 18px 20px;
    background: transparent;
    border-radius: 12px;
    /* text-align: center; */
    color: #fff;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

/* Hover Animation */

.footer-offer:hover{
    transform: translateY(-5px) scale(1.02);
}

.footer-offer p{
    font-size: 16px;
    margin-bottom: 12px;
    letter-spacing: 0.5px;
    color:green;
}

/* Button Style */

.footer-btn{
    padding: 10px 22px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(45deg,#ffb300,#ff6f00);
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.4s ease;
    position: relative;
    overflow: hidden;
}

/* Button Hover */

.footer-btn:hover{
    transform: scale(1.08);
    box-shadow: 0 6px 20px rgba(255,140,0,0.6);
}

/* Glow Animation */

.footer-btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.3);
    transform: skewX(-20deg);
    transition: 0.5s;
}

.footer-btn:hover::before{
    left: 120%;
}

/* Responsive */

@media (max-width:768px){

.footer-offer{
    padding: 15px;
}

.footer-offer p{
    font-size: 14px;
}

.footer-btn{
    padding: 8px 18px;
    font-size: 13px;
}

}

/* links */

.footer-box h2{
color:rgba(8,68,8);
margin-bottom:15px;
}
.footer-box span{
    color:#ff7800;
}
.footer-box a{
display:block;
color:#666666;
text-decoration:none;
margin-bottom:8px;
transition:.3s;
}

.footer-box a:hover{
color:blue;
transform:translateX(5px);
padding-left: 2rem;

}

/* social icons */

.social-icons i{
font-size:24px;
margin-right:12px;
color:black;
cursor:pointer;
transition:.3s;
    margin-top: 1rem;

}

.social-icons i:hover{
color:#ff7800;
}


.footer-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
text-align:center;
margin-top:40px;
padding:20px;
border-top:1px solid orange;

color:black;
font-size:14px;
}

.footer-bottom span{
    color:#ff7800;
    font-size: 1.5rem;
    font-weight: bold;
}
.footer-bottom p{
    color:rgb(8,68,7);
    font-size: 1rem;

}

/* pay section */

.payment-section h2{
    color:rgba(8,68,8);
    margin-bottom:15px;
    font-weight:600;
    padding-left: 2.2rem;
}
.payment-section span{
    color:#ff7800;
}

.payment-icons{
    display:flex;
    justify-content:center;
    gap:20px;
}

.payment-icons img{
    width:40px;
    transition:0.3s;


}

.footer-box .footer-logo{
    color:rgb(5, 37, 5);

}
.footer-box .footer-logo span{
    color:red;

}
.payment-icons img:hover{
    transform:scale(1.2);
    cursor:pointer;
}

/* user login form  */



.main-box{
    position: relative;
}

/* login form hidden */
.login-form{
    position: absolute;
    top: 80px;
    right: 20px;
    width: 300px;
    padding: 25px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.15);

    display: none;
    z-index: 1000;
    font-family: Arial, Helvetica, sans-serif;
}

/* show form */
.login-form.active{
    display: block;
}

/* heading */
.login-form h3{
    text-align: center;
    font-size: 22px;
    margin-bottom: 15px;
    color: #333;
}

/* input boxes */
.login-form .box{
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    transition: 0.3s;
}

/* input focus effect */
.login-form .box:focus{
    border-color: #ff6b00;
    box-shadow: 0 0 5px rgba(255,107,0,0.3);
}

/* text */
.login-form p{
    font-size: 13px;
    margin: 6px 0;
    color: #555;
}

.login-form p a{
    color: #ff6b00;
    text-decoration: none;
    font-weight: 500;
}

.login-form p a:hover{
    text-decoration: underline;
}

/* button */
.login-form .btn{
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    background: #ff6b00;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.login-form .btn:hover{
    background: #e65c00;
}
 /* user login form end */

 
 /* search form */
 .search-form{
    position: absolute;
    top: 80px;
    right: 20px;
    width: 300px;
    padding: 10px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
;

    display: none;
}
#search-box{
    outline: none;
    border:none;
    width: 100%;
    
}

.search-form.active{
    display: block;
  ;
}
 /* search form end*/

/* responsive */   
@media (min-width:340px) and (max-width:640px)  {
    html,body{

           background:#000;
        
    }
/* main section */
#main{
width:100%;
min-height:100vh;
background:#000;
padding:20px;
}


/* glass box */
.main-box{
width:100%;
min-height:100vh;
background:#000;
border:none;
outline:none;
box-shadow:none;
border-radius:20px;
}

/* image gap fix */
.main-img img{
display:block;
width:100%;
}

/* ul default border remove */
nav ul{
list-style:none;
margin:0;
padding:0;
}
/* main section  End*/

    .main-box nav ul li #logo{
    color:white;
    font-size: 2rem;
}


 .main-box nav ul li span{
    color:orange;
 }
     .main-box nav ul  a{
        color:white;
     }

    .review-container{
        display:grid;
grid-template-columns:repeat(2,1fr);

        padding-left: 3rem;
      

    }
    .review-card{
        width: 300px;
    }
   
    .review-section h2{
        color:white;
        margin-bottom: 1rem;
        font-size: 1.5rem;
     
       
    }
   
       .review-section span{
        color:#f5b400;
       }
       .review-section p{
        color:white;
        font-size: 1.3rem;
 
       }
     
    #solid-star{
        color:orange;

    }
    .stars{
        color:white;
    }
       
      
    .review-card img{
        width:150px;
        height: 150px;
    }
      .review-card h3{
        font-size: 1.5rem;
        color:#08a7fc;
      }
    
        .reservation-section h2{
            margin-bottom: 2rem;
        }
     
      .menu-container h1{
        font-size: 2rem;
        color:white;
       
        
      }
      
      .menu-container #our{
        padding-right: 18rem;
        overflow-x: hidden;
      }
      .menu-item img{
        width: 100px;
      }
          .menu-item p{
            color:rgb(249, 229, 191);
          }
          .menu-item span{
            color:#08a7fc;
          }
          .beverage .item-info #iname{
            color:rgb(249, 229, 191);
          }
         
            .dessert .item-info #iname{
            color:rgb(249, 229, 191);
          }
          .dessert .item-info .irupay{
            color:#08a7fc;
          }
            .beverage .item-info .irupay{
            color:#08a7fc;
            background: red;
          }
   
  
     .main-box{
         width: 100%;
             backdrop-filter:none;
             


     }
     .circle-1, .circle-2{
       display: none;


     }

   
     .main-box img{
        width: 250px;
        margin-left: 7rem;
        margin-top: 1rem;
       
     }
   
       
               .main-box{
                background: black;
               }
     .main-content {
        margin-left: 4rem;
     };
   
     
     .main-text h1{
        font-size: 5rem;
       
     }
          .main-text h1 {
            color:white;
          }
               .main-text h1 span{
                color:orange;
               }
    
   
     .main-text .btn2{
        font-size: 13px;
        padding: 8px 8px;
        margin-bottom: 1rem;
        color:white;
        margin-left: -.8rem;


     }
     
       .albtn{
        display: flex;
        justify-content: space-evenly;
        align-items: center;

       }
       .main-text .btn2{
        margin-left: 1rem;
        width: 100px;
        background: rgb(91, 33, 33);
        font-size: 12px;
         margin-top: 1rem;

       }
          .main-text .btn1{
         background: rgb(91, 33, 33);
          font-size: 12px;


        width: 120px;
       }
      .main-text h2{
        font-size: 1.6rem;
        color:white;
        
      }
      .main-text h2 span{
        color:orange
      }
       .main-text p{
            font-size: 1.1rem;
            color:rgb(246, 231, 204);
         }
         #user-btn{
            color:orange;
       
         }
         .login-form{
        position:fixed;
        margin-top: 3rem;
         }
         
         nav{
            display: flex;
            justify-content:space-evenly;
         }
         nav ul a li{
            font-weight: bold;
            font-size: 1.2rem;
         }

       .contact-container{
display:grid;
grid-template-columns:repeat(3,1fr);
margin-left: 3.6rem;
}
.contact-section h2{
    color:white;
      margin-left:-5rem;
          margin-bottom: 1rem;

}
.contact-card{
    width: 180px;
    height: 190px;
}
.contact-section span{
    color:#f5b400;
  
}
.contact-card h3{
    color:#08a7fc;
}
.contact-card p{
    color:white;
}

/* about */
 .about-section{
        margin-left: 8.2rem;
      }

.about-text h2{
    color:white;
}

.about-section{
    width: 500px;
}

.about-text p{
    color:white;
}
/* reservation sectioin */
  
      
.reservation-section{
    width: 700px;
    margin-left: 2.3rem;

}
.reservation-section h2{
    color:white;
}
.reservation-section span{
    color:#f5b400;
}
.input-group input{
    color:white;
 
}




/* Mobile Footer Responsive */



.footer{
padding:25px 15px;
text-align:center;
width: 660px;
border-radius: 12px;
}

.footer-container{
display:flex;
flex-direction:column;
align-items:center;
gap:25px;
}

/* footer box */

.footer-box{
width:100%;
}

/* logo */

.footer-logo{
font-size:26px;
margin-bottom:8px;
}
.footer-box .footer-logo{
    color:white;

}
.footer-box .footer-logo span{
    color:orange;
}

.footer-box p{
font-size:13px;
line-height:1.5;
color:white;
}
.footer-box  h2{
    color:white;
}

/* offer section */

.footer-offer{
margin-top:10px;
}

.footer-offer p{
font-size:13px;
color:yellow;
}

.footer-btn{
padding:7px 18px;
font-size:13px;
border-radius:6px;
margin-top:5px;
color:white;
background: red;
}

/* quick links */

.footer-box h2{
font-size:18px;
margin-bottom:8px;
}

.footer-box a{
display:block;
font-size:14px;
margin:4px 0;
text-decoration:none;
color:wheat;
}
.footer-box #links {
    display: none;

}

/* social icons */

.social-icons{
display:flex;
justify-content:center;
gap:15px;
margin-top:8px;
}

.social-icons i{
font-size:20px;
color:#ff7800;
}

/* payment section */

.payment-section{
margin-top:10px;
}

.payment-section h2{
font-size:18px;
margin-bottom:8px;
color:white;
margin-right: 2rem;
}

.payment-icons{
display:flex;
justify-content:center;
gap:10px;
flex-wrap:wrap;

}

.payment-icons img{
width:40px;
height:auto;
margin-left: 1rem;
}

/* footer bottom */
.footer-bottom{
width:750px;
text-align:center;
padding:15px 10px;
background:#000;
color:#fff;
}

.footer-bottom p{
margin:0;
text-align:center;
line-height:1.6;
font-size: 1.2rem;
color:white;
}
.footer-bottom p span{
    color:orange;
    font-size: 2rem;
}
/* mobile */

@media (max-width:360px){

.footer-bottom{
font-size:12px;
padding:12px 8px;
}

}



}
            
   
